input[type=text] {
    
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
input[type=text]:focus {
  background-color: lightblue;
}
input[type=submit] {
    width: 100%;
    color: #FFFFFF;
    background-color: #4CAF50;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
}

input[type=submit]:hover {
    width: 100%;
    color: #FFFFFF;
    background-color: #8AAA00;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
}

form{
    margin-top: 3%;
    width: 50%;
    border: none;
    margin-left: 350px;
    padding:3%;
    background: white;
}

#buttonP{
    width: 100px;
}

body, html {
  height: 100%;
  margin: 0;
}

body{
    background: url("hostel.jpg"); 
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg {
  /* The image used */
  background-image: url("hostel.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}